body{
    margin: 0%;
    box-sizing: border-box;
  }
    p{
        margin: 0;
    }
.column {
    height: 400px;
    width: 24vw;
    border: 2px;
    border-style: solid;
    border-color: black;
    display: inline-block; 
    float: left;
    margin: 0;
}
.row {
    width: 100%;
    margin: 0;
}

#one {
 Background-color: blue;
}
#two {
Background-color: rgba(238, 255, 0, 0.753);
}
#three {
 Background-color: rgb(0, 204, 255);
}
#four {
Background-color: rgb(9, 255, 0);
}
